.Footer{
   background-color: white;
   text-align: center;
   height: 500px;
   margin-top: 50px;
   
}
/* Footer.css */

/* Style the footer container */
.copyright {
    display: flex; /* Use flexbox to arrange items horizontally */
    justify-content: space-between; /* Distribute space between items */
    align-items: center; /* Center items vertically */
    }
    .details{
      padding: 160px;
    }
  
  
